.three-d-button,
.three-d-button:before,
.three-d-button:after {
    transition: all 0.2s;
}

.three-d-button:before,
.three-d-button:after {
    content: " ";
    position: absolute;
}

.three-d-button {
    --size: 10px;
    --negative-size: calc(-1 * var(--size));
    --half-size: calc(var(--size) / 2);
    --negative-half-size: calc(-1 * var(--half-size));
    --quarter-size: calc(var(--size) / 4);
    --deg: 45deg;
    --teal: hsla(180, 40%, 50%, 1);
    --plum: hsla(320, 45%, 45%, 1);
    color: white;
    padding: 10px 20px;
    background: linear-gradient(90deg,
            var(--teal) 0,
            var(--plum) 100%);
    font-size: 1rem;
    font-family: 'Arial';
    border: none;
    position: relative;
}

.three-d-button:before {
    left: var(--half-size);
    bottom: var(--negative-size);
    width: 100%;
    height: var(--size);
    background-color: var(--teal);
    transform: skewX(var(--deg));
}

.three-d-button:after {
    top: var(--half-size);
    right: var(--negative-size);
    width: var(--size);
    height: 100%;
    background-color: var(--plum);
    transform: skewY(var(--deg));
}

.three-d-button:active {
    transform: translate(var(--half-size), var(--half-size));
}

.three-d-button:active:before {
    left: var(--quarter-size);
    bottom: var(--negative-half-size);
    height: var(--half-size);
}

.three-d-button:active:after {
    top: var(--quarter-size);
    right: var(--negative-half-size);
    width: var(--half-size);
}