.todo-item{
    display:flex;
    align-items:center;
    gap:1rem;
    padding:1rem;
    background: linear-gradient(to left, #111, #333);
    transition: background 0.3s ease-in-out;


    & input{
        width:2rem;
        height:2rem;
    }

    & input:checked ~ label{
        text-decoration: line-through;
        color: var(--electric-blue);
    }

    & label{
        font-size:2rem;
        flex:1;
    }

}

.todo-item:hover{
    background: linear-gradient(to right, #111, #333);
}